.small-screen-only,
.large-screen-only {
  display: none;
}
.lf-pixl-nav-wrapper,
.lf-pixl-nav-wrapper nav {
    display: block;
}

/* mobile menu hamburger.. */
.lf-hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  /* spacing between lines */
  width: 30px;
  height: 24px;
  cursor: pointer;
}

.lf-hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #000;
  transition: all 0.3s ease;
}

@media (max-width: 991px) {
  .small-screen-only {
    display: inline-block;
  }
}

@media (min-width: 992px) {
  .large-screen-only {
    display: inline-block;
  }
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu,
.menu a {
  /* color: #e2e2e2; */
  text-decoration: none;
}

.menu a {
  display: block;
  white-space: nowrap;
}

.menu-dropdown,
.menu input[type=checkbox] {
  display: none;
}

.menu label:hover {
  cursor: pointer;
}


/* look and feel only, not needed for core menu*/
@-webkit-keyframes grow {
  0% {
    display: none;
    opacity: 0;
  }
  50% {
    display: block;
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes grow {
  0% {
    display: none;
    opacity: 0;
  }
  50% {
    display: block;
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
html {
  font-size: 100%;
}
body {
  font-family: "Roboto" sans-serif;
  /* line-height: 1.5; */
}
/* Always hide right arrow by default */
.menu-righticon {
  display: none !important;
}
/* Responsive menu width */
.menu {
  width: 100%;
  margin: 0px auto;
  box-sizing: border-box;
}
/* narrow  */
@media screen and (max-width: 1024px) {
  nav.menu {
    padding: 10px !important;
  }

  .menu>ul i {
    float: right;
    padding: 5px 10px;
    background-color: rgba(92, 92, 92, 0.3);
  }


  a.lf-double-line {
    display: inline-block;
    padding: 0;
  }

  .submenu-toggle-label,
  a.menu-link {
    display: inline-block;
  }
}
/* large styles */
@media screen and (min-width: 1025px) {
  .menu>label,
  input[type=checkbox] {
    display: none;
  }
  /* to adjust alignment.. */
  .menu>ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  /* Alignment classes for desktop */
  .menu-align-left {
    justify-content: flex-start;
  }
  .menu-align-center {
    justify-content: center;
  }
  .menu-align-right {
    justify-content: flex-end;
  }
  .menu>ul>li {
    display: flex;
  }
  .menu-hasdropdown {
    position: relative;
    display: flex;
  }
  .menu-hasdropdown:hover>ul {
    display: block;
    -webkit-animation: grow 0.5s ease-in-out;
    animation: grow 0.5s ease-in-out;
  }
  .menu-hasdropdown>ul {
    position: absolute;
    top: 100%;
    left: 0;
    /* background: #035e8d; */
  }
  .menu-hasflyout>ul {
    left: 100%;
    top: 0;
  }
  .menu-hasflyout .menu-downicon {
    display: none;
  }
  .menu,
  .elementor-element,
  .e-con-full,
  .e-flex,
  .e-con,
  .e-parent {
    max-width: none !important;
    margin: 0 !important;
    box-sizing: border-box;
  }
}